@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

body {
  background-color: #ebd8d0;
  font-family: "Barlow";
  user-select: none;
  padding-top: 70px;
}

body.inGame {
  overflow: hidden;
}
