.Card {
  user-select: none;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 90vw;
  left: 50%;
  top: 50%;
}

.Card h2 {
  margin: 0;
  padding-top: 25px;
}

.Card p {
  font-size: 1.3em;
  padding: 15px 20px;
  padding-top: 0;
}

.Card button {
  border: 2px solid #e5e5e5;
  background: transparent;
  border-radius: 999em;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  margin: 0 5px 30px;
  align-self: center;
  transition: 150ms all ease-out;
}

.Card button.primary {
  border-color: #6ace97;
  background-color: #6ace97;
  color: white;
}

.Card button.primary:hover,
.Card button.primary:active {
  border-color: #5db886;
  background-color: #5db886;
}

.Card button:hover,
.Card button:active {
  background-color: #e5e5e5;
}

.Card button:active {
  transform: scale(0.9);
}
