.GameCard {
  cursor: grab;
  transition-timing-function: ease-out;
}

.GameCard.swiping {
  cursor: grabbing;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.1);
}

.GameCard .question {
  flex-grow: 1;
}

.GameCard .question p {
  padding-bottom: 0;
}

.Card.GameCard button {
  font-size: 30px;
  width: 70px;
  height: 70px;
  padding: 0;
}

.Card.GameCard button.positive-active {
  background-color: #6ace97;
  border-color: #6ace97;
}

.Card.GameCard button.negative-active {
  background-color: #f05e6c;
  border-color: #f05e6c;
}

.GameCard .info {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  font-weight: bold;
  font-size: 0.9em;
}

.GameCard .tag {
  background: #e5e5e5;
  font-weight: bold;
  font-size: 600;
  border-radius: 999em;
  font-size: 0.9em;
  padding: 2px 10px;
  margin-right: 3px;
  margin-left: 3px;
}
