.Menubar {
  background: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

.Menubar h1 {
  font-size: 22px;
  font-weight: 600;
}

.Menubar h1 em {
  font-weight: 300;
  font-style: normal;
  color: #f05e6c;
  padding-left: 1px;
}

.Menubar a {
  text-decoration: none;
  color: inherit;
}

.Menubar .nav {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 999em;
  font-weight: 600;
  padding: 4px 20px 5px;
  font-family: inherit;
  font-size: inherit;
}

.Menubar .nav:hover {
  background-color: #e5e5e5;
}
